
.pgu-nt-sf {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;

    width: 395px;
    height: 100%;

    color: white;
    font-family: 'Source Code Pro', sans-serif;
    /*background-color: deeppink;*/

    text-align: center;
    font-size: 180px;
    line-height: 202px;
}

.pgu-nt-ir {
    position: absolute;
    top: 0px;
    left: 503px;
    z-index: 0;

    width: 395px;
    height: 200px;

    color: white;
    font-family: 'Source Code Pro', sans-serif;
    /*background-color: deeppink;*/

    text-align: center;
    font-size: 180px;
    line-height: 202px;
}

.pgu-nt-cube {
    position: absolute;
    top: 0px;
    left: 305px;
    z-index: 0;

    width: 295px;
    height: 700px;
}

.pgu-nt-cube-container {
    width: 100%;
    height: 100%;

    /*background-color: darkred;*/
}

.pgu-nt-cube-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: black;

    transition-timing-function: ease;

    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.pgu-nt-cube-go-front {
    z-index: 20;
}

.pgu-nt-rotate {

    color: #F1471D;

    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}

.pgu-nt-transparency {
    opacity: 0;
    filter: alpha(opacity=0);
}