.pgu-article-black {
    background:no-repeat scroll 710px 625px black !important;
}
.pgu-article {
    position: relative;
    overflow: hidden;
}



.pgu-nt {
    height: 200px;
    width: 200px;
}
.pgu-nt-sf {
    background-color: pink;
}
.pgu-nt-e {
    background-color: yellow;
}
.pgu-nt-ir {
    background-color: blue;
}