.container_mash {
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 50px;*/

    /*width: 800px;*/
    /*height: 700px;*/
}
.mash_row {
     height: 450px;
}
.mash_col {
    float: left;
    width: 375px;
    cursor: pointer;

    margin-top: 50px;
}
.mash_col:hover {
    box-shadow: 0 0 1em white;
}
.pic_mash {
    width: 200px;
    height: 200px;

    display: block;
    margin: 0px auto;
}
.txt_mash {
    text-align: center;
    color: white;
}
.ranking_row {

}
.ranking_col {
    float: left;
    width: 375px;
}
.high_ranking {
    color: green;
}
.low_ranking {
    color: brown;
}