.container_mash {
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 50px;*/

    /*width: 800px;*/
    /*height: 700px;*/
}
.mash_block {
     height: 450px;
}
.mash_cell {
    float: left;
    width: 375px;
    cursor: pointer;

    margin-top: 50px;
}
.mash:hover {
    box-shadow: 0 0 1em white;
}
.pic_mash {
    width: 200px;
    height: 200px;

    display: block;
    margin: 0px auto;

}
.txt_mash {
    text-align: center;
}
.ranking_block {

}
.ranking_cell {
    float: left;
    width: 375px;
}