.container_mash {
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 50px;*/

    /*width: 800px;*/
    /*height: 700px;*/
}
.mash_row {
     height: 420px;
}
.mash_col {
    float: left;
    width: 360px;
    cursor: pointer;

    margin-top: 20px;
    margin-right: 20px;

    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 5px;
}
.mash_col:hover {
    border: 1px solid darkorange;
    box-shadow: 0 0 0.8em darkorange, inset 0 0 0.5em darkorange;
}
.pic_mash {
    width: 250px;
    height: 250px;

    display: block;
    margin: 0px auto;
}
.pic_sfeir {
    width: 280px;
    height: 180px;
}
.txt_mash {
    text-align: center;
    color: white;
}
.ranking_row_headers {
    margin-top: 10px;
}
.ranking_row {

}
.ranking_col {
    float: left;
    width: 360px;
    margin-right: 20px;
}
.ranking_col_header {
    text-align: center;
}
.ranking_cell {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: smaller;
}
.high_ranking {
    color: green;
}
.low_ranking {
    color: brown;
}
.ranking_dl {
    margin-top: 20px;
}
.ranking_dl_btn {
    margin: 0px auto;
    display: block;

    width: 36px;
    font-size: smaller;
    text-align: center;

    text-decoration: none;
    border : 3px white solid !important;
    border-radius: 20px;

    color: white !important;
}
.ranking_dl_btn:hover {
    color: darkorange !important;
    border : 3px darkorange solid !important;
}
.ranking_dl_btn:active {
    color: orangered !important;
    border : 3px orangered solid !important;
}
