.pgu-md-android {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;

    width: 310px;
    height: 245px;
}

.pgu-md-gwt {
    position: absolute;
    top: 0px;
    left: 614px;
    z-index: 0;

    width: 285px;
    height: 245px;
}

.pgu-md-angular {
    position: absolute;
    top: 452px;
    left: 0px;
    z-index: 0;

    width: 310px;
    height: 246px;
}

.pgu-md-dart {
    position: absolute;
    top: 452px;
    left: 614px;
    z-index: 0;

    width: 284px;
    height: 246px;
}

.pgu-md-sfeir {
    position: absolute;
    top: 200px;
    left: 300px;
    z-index: 0;

    width: 300px;
    height: 300px;
}

.pgu-md-static {
    background-size: contain;
    z-index: 1;
    width: 200px;
    height: 200px;
}
.pgu-md-logo-android {
    position: absolute;
    top: 25px;
    left: 75px;

    background: url("/slides/pgu-madrid/img/android_logo.jpg") no-repeat 50% 50%;
    background-size: contain;
}
.pgu-md-logo-gwt {
    position: absolute;
    top: 25px;
    left: 625px;

    background: url("/slides/pgu-madrid/img/gwt_logo.png") no-repeat 50% 50%;
    background-size: contain;
}
.pgu-md-logo-angular {
    position: absolute;
    top: 475px;
    left: 75px;

    background: url("/slides/pgu-madrid/img/angular_logo.png") no-repeat 50% 50%;
    background-size: contain;
}
.pgu-md-logo-dart {
    position: absolute;
    top: 475px;
    left: 625px;

    background: url("/slides/pgu-madrid/img/dart_logo.png") no-repeat 50% 50%;
    background-size: contain;
}

.pgu-md-logo-small {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
}

.pgu-md-logo-big {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.pgu-md-e {
    -moz-transition: -moz-transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

