.pgu-row-logo {
    position: absolute;
    top: 250px;
    left: 0px;
    z-index: 10;

    width: 100%;
    height: 200px;
}

.pgu-open {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;

    width: 395px;
    height: 100%;

    /*color: #E44B0F;*/
    color: #F1471D;
    background-color: black;

    text-align: right;
    font-size: 225px;
    line-height: 152px;

    transition-timing-function: ease;

    -moz-transition: -moz-transform 2s;
    -webkit-transition: -webkit-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
}

.pgu-e {
    cursor: pointer;

    position: absolute;
    top: 20px;
    left: 360px;
    z-index: 2;

    width: 180px;
    height: 160px;

    /*color: #F1471D;*/
    color: white;
    /*background-color: violet;*/

    text-align: center;
    font-size: 225px;
    line-height: 138px;

    -moz-transition: -moz-transform 2s;
    -webkit-transition: -webkit-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
}
.pgu-e:hover {
    text-shadow: 1px 1px 2px black, 0 0 1em darkorange, 0 0 0.2em darkorange;
    filter: dropshadow(color=darkorange, offx=0, offy=0);
}
.pgu-e:active {
    text-shadow: 1px 1px 2px yellow, 0 0 1em darkorange, 0 0 0.2em darkorange;
    filter: dropshadow(color=yellow, offx=0, offy=0);
}

.pgu-close {
    position: absolute;
    top: 0px;
    left: 504px;
    z-index: 1;

    width: 395px;
    height: 200px;

    color: #F1471D;
    background-color: black;

    text-align: left;
    font-size: 225px;
    line-height: 152px;

    transition-timing-function: ease;

    -moz-transition: -moz-transform 2s;
    -webkit-transition: -webkit-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
}

.pgu-go-to-left {
    -moz-transform: translateX(-330px);
    -webkit-transform: translateX(-330px);
    -o-transform: translateX(-330px);
    transform: translateX(-330px);
}

.pgu-go-to-right {
    -moz-transform: translateX(330px);
    -webkit-transform: translateX(330px);
    -o-transform: translateX(330px);
    transform: translateX(330px);
}

