.logo-of-careers {
    /*

    top: 625px;
    left: 780px;
    z-index: 10000;
      */

    position: absolute;
    top: 19px;
    left: 21px;
    /*display: inline-block;*/
    width: 30px;
    height: 30px;

    background: url('/img/ico_recrutement.png') no-repeat;
}

.pgu-article-black {
    /* overrides the Google logo and the 'white' color */
    background : black !important;
}
.pgu-article {
    position: relative;
    overflow: hidden;
}

.frame-error-for-webgl {
    position: absolute;
    top: 20px;
    left: 100px;
    z-index: 1000000;

    width: 700px;
    height: 200px;

    background-color: transparent;
    border: none;
}

.sfeir-social-buttons {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100000;

    border-radius: 5px;
    /*background-color: #666;*/
    padding: 10px;
}

.sfeir-social-button {
    display: inline-block;
    margin: 10px;
    margin-top: 20px;
    z-index: 1;
}

#sfeir_twitter iframe {
    width: 70px !important;
}
