.logo-of-careers {
    position: absolute;
    top: 19px;
    left: 21px;

    width: 30px;
    height: 30px;

    background: url('/img/ico_recrutement.png') no-repeat;
}

.pgu-article-black {
    /* overrides the Google logo and the 'white' color */
    background : black !important;
}
.pgu-article {
    position: relative;
    overflow: hidden;
}

.frame-error-for-webgl {
    position: absolute;
    top: 286px;
    left: 100px;
    z-index: 1000000;

    width: 700px;
    height: 200px;

    background-color: transparent;
    border: none;
}

.sfeir-social-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100000;

    width: 285px;
    height: 45px;

    border-radius: 5px;
    padding: 10px;
}
.sfeir-social-bar-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #808080;
    opacity: 0.3;

    border-radius: 5px;
}

.sfeir-social-btns {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.sfeir-social-button {
    display: inline-block;
    margin: 20px 10px 10px;
    z-index: 1;
}

#sfeir_twitter iframe {
    width: 70px !important;
}
